<form class="card" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="card-header bg-primary text-white">
        Create Employee
    </div>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="fullName" class="form-label col-sm-2 text-end ">Full Name</label>
            <div class="col-sm-8">
                <input (blur)="logValidationErrors()" type="text" class="form-control" [ngClass]="{'is-invalid':formErrors.fullName}"
                    formControlName="fullName" id="fullName">
                <div class="invalid-feedback" *ngIf="formErrors.fullName">
                    {{formErrors.fullName}}
                </div>

            </div>
        </div>
        <div class="mt-3 row">
            <div class="col-sm-2 text-end">Contact Preference</div>
            <div class="col-sm-8 d-flex gap-4">

                    <div class="form-check">
                        <input  class="form-check-input" value="email" formControlName="contactPreference" type="radio"
                             id="emailRd">
                        <label class="form-check-label" for="emailRd">
                            Email
                        </label>
                    </div>
                    <div class="form-check">
                        <input  class="form-check-input" value="phone" formControlName="contactPreference"
                            type="radio"  id="phoneRd">
                        <label class="form-check-label" for="phoneRd">
                            Phone
                        </label>
                    </div>
                
            </div>
        </div>
        <div class="mb-3 row">
            <label for="email" class="form-label col-sm-2 text-end">Email</label>
            <div class="col-sm-8">
                <input (blur)="logValidationErrors()" type="email" class="form-control" formControlName="email" id="email"
                    [ngClass]="{'is-invalid':formErrors.email}">
                <div class="invalid-feedback" *ngIf="formErrors.email">
                    {{formErrors.email}}
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="phone" class="form-label col-sm-2 text-end">Phone</label>
            <div class="col-sm-8">
                <input (blur)="logValidationErrors()" type="text" class="form-control" formControlName="phone" id="phone"
                    [ngClass]="{'is-invalid':formErrors.phone}">
                <div class="invalid-feedback" *ngIf="formErrors.phone">
                    {{formErrors.phone}}
                </div>
            </div>
        </div>
        <div class="mb-3" formGroupName="skills">
            <div class="row">
                <div class="text-end col-sm-2">Skill</div>
                <div class="col-sm-8">
                    <div class="row">

                        <div class="col-sm-6">
                            <input (blur)="logValidationErrors()" type="text" class="form-control" formControlName="skillName" placeholder="C#,Angular,React etc"
                                [ngClass]="{'is-invalid':formErrors.skillName}">
                            <div class="invalid-feedback" *ngIf="formErrors.skillName">
                                {{formErrors.skillName}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input (blur)="logValidationErrors()" type="number" class="form-control" formControlName="experienceInYears"
                                [ngClass]="{'is-invalid':formErrors.experienceInYears}" placeholder="In Years">
                            <div class="invalid-feedback" *ngIf="formErrors.experienceInYears">
                                {{formErrors.experienceInYears}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3 row">
                <div class="col-sm-2 text-end">Proficiency</div>
                <div class="col-sm-8">
                    <div class="d-flex gap-4">

                        <div class="form-check">
                            <input (blur)="logValidationErrors()" class="form-check-input" value="beginner" formControlName="proficiency" type="radio"
                                [ngClass]="{'is-invalid':formErrors.proficiency}" id="beginner">
                            <label class="form-check-label" for="beginner">
                                Beginner
                            </label>
                        </div>
                        <div class="form-check">
                            <input (blur)="logValidationErrors()" class="form-check-input" value="intermediate" formControlName="proficiency"
                                type="radio" [ngClass]="{'is-invalid':formErrors.proficiency}" id="intermediate">
                            <label class="form-check-label" for="intermediate">
                                Intermediate
                            </label>
                        </div>
                        <div class="form-check">
                            <input (blur)="logValidationErrors()" class="form-check-input" value="advanced" formControlName="proficiency" type="radio"
                                [ngClass]="{'is-invalid':formErrors.proficiency}" id="advanced">
                            <label class="form-check-label" for="advanced">
                                Advanced
                            </label>
                        </div>
                    </div>
                    <div class="invalid-feedback" *ngIf="formErrors.proficiency">
                        {{formErrors.proficiency}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-body-secondary d-flex gap-2">
        <button type="submit" class="btn btn-primary ">Save</button>
        <button type="button" class="btn btn-primary " (click)="onLoadData()">Load Data</button>
    </div>
</form>